
/* Reset des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: rgb(5, 5, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* margin: 0; */
}

/* Style de la barre de navigation */
header {
    width: 100%;
    background-color: rgb(5, 5, 10);  /* Orange comme sur l'exemple */
    padding: 10px 0;
}
nav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
}

.lien a {
    margin: 0 15px;
}

 .lien a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.lien a:hover {
    color: #f57c00;
}
/* Profil */
.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    max-width: 900px;
    width: 90%;
    background-color: #fff;padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-image {
    margin-right: 30px;
}

.profile-image img {
    width: 180px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid blue Bordure;
    object-fit: cover;
}

.profile-info {
    max-width: 600px;
}

.profile-info h1 {
    font-size: 2.5rem;
    color: #f57c00;
    margin-bottom: 15px;
}
.profile-info h1 span {
    font-weight: bold;
}

.profile-info p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #555;
}

.download {
    padding: 10px 20px;
    background-color: #f57c00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.download a:hover {
    color: blue;
}
